@media screen and (max-width: 600px){
    #logo img{
        margin-top: 5px;
        height: 8vh;
    }
    .icon h4{
        display: none;
    }
    #home{
        flex-direction: column-reverse;
    }
    #ball2{
        top: 10%;
        left: -30%;
    }
    #ball3{
        left: 85%;
        top: 43%;
    }
    #ball{
        display: none;
    }
    #homecontent h1{
        font-size: 12vw;
    }

    #homecontent{
        width: 400px;
        margin-top: 40px;
        margin-left: 20px;
    }
    #homecontent p{
        padding: 5px;
        opacity: .5;

    }
    #splash{
        display: none;
    }
}