@media screen and (max-width: 600px){
    #right img{
        display: none;
    }
    #contact button{
        width: 20vw ;

    }
    
    #left{
        position: absolute;
        margin-bottom: 10vh;
        height: 85vh;
        width: 80vw;
        padding: 3vh 4vh;
        border-radius: 50px;
        background: none;
        box-shadow:  none;
    }
    #logo img{
        margin-top: 5px;
        height: 8vh;
    }
    .icon h4{
        display: none;
    }
    #contactform{
        padding: 0vh 4vh;
    }
    #contact button{
        width: 23vw;
    }

}